.the-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 30px;
}
  
.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.thumbnail-grid {
    position: relative;
}

.vid-time {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 4px;
    border-radius: 3px;
    padding: 2px;
    opacity: .8;
    height: 11px;
}
  
.profile {
    width: 40px;
    height: 50px;
    vertical-align: top;
}

.pfp {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-top: 8px;
    margin-left: 2px;
}
  
.video-info {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.channel-info {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 0px;
}

.title {
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: top;
}

.view {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: gray;
}

