.welcome-info {
  width: 550px;
  height: 270px;
}

.fb-logo {
  height: 150px;
  padding-top: 50px;
  margin-left: -25px;
}

.fb-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.fb-text {
  height: 70px;
}

.fb-txt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 1.1;
  margin-top: 0;
}